.__Calendar {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 6%;
  color: black;
  padding: 1em;
  /* Adjust Component Scale with Font Size Percentages*/
}

.__Calendar_Header h1 {
  text-align: left;
  margin: 0;
  margin-left: 0.15em;
  margin-bottom: 0.5em;
}
.__Calendar_Grid {
  /* margin-top: 0.5em; */
  display: grid;
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.__Calendar_Grid_Item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 0.4em;
  aspect-ratio: 1 / 1;
  z-index: 3;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.__Calendar_Grid_Item.__Calendar_Grid_BlackedOut {
  color: white;
  transition: all 0.3s ease-in-out;
}

.__Calendar_Grid_Active {
  color: black;
  font-weight: bold;
}

.__Calendar_Grid_Active.__Calendar_Grid_Target {
  color: rgb(237, 20, 20);
}

.__Calendar_Grid_Item.__Calendar_Grid_Target.__Calendar_Grid_BlackedOut {
  color: rgb(255, 58, 58);
}

.__Calendar_Grid_Inactive {
  color: #555;
}
.__Calendar_Grid_Col_Label {
  color: #555;
  font-weight: bold;
}

.__Calendar_Body {
  position: relative;
  top: 0;
  left: 0;
}

.__Calendar_Metaballs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.__Calendar_Goo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.__Calendar_Goo svg {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-0.01em, 0.06em, 0);
  }

  20%,
  80% {
    transform: translate3d(0.01em, -0.05em, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-0.1em, 0.1em, 0);
  }

  40%,
  60% {
    transform: translate3d(0.02em, 0, 0);
  }
}
@keyframes breathe {
  10%,
  90% {
    transform: scale(1.009);
  }

  20%,
  80% {
    transform: scale(0.985);
  }

  30%,
  50%,
  70% {
    transform: scale(1.007);
  }

  40%,
  60% {
    transform: scale(0.990);
  }
}

@keyframes scale_in {
  0% {
    transform: scale(0.3);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes scale_out {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}
